<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Block and Inline</title>

    <style>
      .container {
        border: 2px solid red;
        margin: 20px;
      }

      #inline {
        display: inline;
        margin: 10px 20px;
      }

      #inline-block {
        display: inline-block;
        margin: 10px 20px;
      }

      #block {
        display: block;
        margin: 10px 20px;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Block and Inline Elements</h1>

      <div class="container" id="inline">i am inline</div>
      <div class="container" id="inline-block">I am inline block</div>
      <div class="container" id="block">I am a block</div>
    </div>
  </body>
</html>
