<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flex box</title>
    <style>
      .box {
        border: 2px solid red;
        padding: 20px;
        width: 100px;
        height: 100px;
        margin: 10px;
      }
      .box-container {
        border: 2px solid blue;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
      }
    </style>
  </head>
  <body>
    <div class="box-container">
      <div class="box">Box 1</div>
      <div class="box">Box 2</div>
      <div class="box">Box 3</div>
    </div>
  </body>
</html>
