<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid</title>
    <style>
      .grid-container {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 80px 5fr 3fr 2fr;
      }

      .grid-item {
        padding: 10px;
        border: 2px solid red;
      }

      .header {
        grid-column-start: 1;
        grid-column-end: 4;
        position: sticky;
        top: 0;
        left: 0;
        background-color: wheat;
      }

      .menu {
        grid-row-start: 2;
        grid-row-end: 4;
      }

      .main {
        grid-row-start: 2;
        grid-row-end: 4;
      }

      .right {
        grid-row-start: 2;
        grid-row-end: 4;
      }

      .footer {
        grid-column-start: 1;
        grid-column-end: 4;
      }

      .chat-container {
        border: 2px solid red;
        background-color: blueviolet;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        text-align: center;

        position: fixed;
        bottom: 10px;
        right: 10px;
      }
    </style>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item header">header</div>
      <div class="grid-item menu">menu</div>
      <div class="grid-item main">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vitae
          corrupti rem! A, optio modi aut quos nobis eos labore cumque quis
          dolores, autem quibusdam perspiciatis minus blanditiis ratione
          deserunt.
        </p>
      </div>
      <div class="grid-item right">right</div>
      <div class="grid-item footer">footer</div>
    </div>
    <div class="chat-container">
      <p>C</p>
    </div>
  </body>
</html>
